body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
input,textarea{
  display: block;
}

label{
  color:red;
  padding: 10px 0 3px 0;
  display: block;
}

button{
  margin-top:10px;
}

a {
  color: #00B7FF;
}
